.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio_item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.portfolio_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}
.portfolio;
